<launch>
  <!-- bridge -->
  <include file="$(find bridge)/launch/bridge.launch">

  </include>
  <!-- Apriltag -->
  <include file="$(find apriltags2_ros)/launch/sis_competition.launch"/>
  <!-- Calculate distance node -->
  <!-- Assignment -->
  <node pkg="camera_rotation" type="get_transform.py" name="get_transform" output="screen" required="true" />
  <node pkg="tf" type="static_transform_publisher" name="plate1_to_tag5" args="0 -0.6 0.1 0 0 0 1 tag_5 plate_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="plate2_to_tag6" args="0 -0.6 0.1 0 0 0 1 tag_6 plate_2 100" />
  <node pkg="tf" type="static_transform_publisher" name="plate3_to_tag7" args="0 -0.6 0.1 0 0 0 1 tag_7 plate_3 100" />

</launch>
